@import "../../theme.scss";

/* Globals */
:root {
	--font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-serif: Georgia, serif;
	--color-secondary: #333;
	--color-link: #635ac7;

	font-family: var(--font-sans);
	font-weight: normal;
	line-height: 1.5;

	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

body {
	margin: 0;
}

a {
	color: var(--color-link);
}

.site-header {
	padding: 10px;
	text-align: center;
	border-bottom: solid 1px black;
	h1 {
		margin: 0;
	}
}

.site-footer {
	color: var(--color);
	font-family: var(--font-serif);
	text-align: center;
	padding: 20px 0;
	p {
		margin: 0;
		line-height: 30px;
	}
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid 1px black;
}
