@import "../../theme.scss";

/* Globals */
:root {
	--font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-serif: Georgia, serif;
	--color-secondary: #333;
	--color-link: #635ac7;

	font-family: var(--font-sans);
	font-weight: normal;
	line-height: 1.5;
}

body {
	margin: 0;
}

a {
	color: var(--color-link);
}

.site-header {
	padding-bottom: 2rem;
	padding-top: 2rem;
	text-align: center;
}

.site-footer {
	color: var(--color);
	font-family: var(--font-serif);
	text-align: center;
	padding: 20px 0;
	p {
		margin: 0;
		line-height: 30px;
	}
}
